In [28]:
import os
os.chdir("B:/Projects/CourseWork/coursework/HTMLCSV/ogimet/new_data/detailed")

from bs4 import BeautifulSoup
import pandas as pd
import datetime
import ntpath

m_df = pd.DataFrame()

# replace to 1999, 2020 + 1,   1, 12 + 1     1,31 + 1 [0, 3, 6, 9, 12, 15, 18, 21]
for year in range(2000, 2000 + 1):
    for month in range(1, 1 + 1):
        for day in range(1,1 + 1):
            for hour in [0]:
                file = ''
                try:
                    file = open(f'{year}/{month}_{day}_{hour}.html', 'rb')
                except:
                    print(file)
                    pass
                data = []
                col_names = ['disc', 'first', 'second']

                soup = BeautifulSoup(file, "lxml")
                soup = soup.select('body > table > tr:nth-child(2) > td:nth-child(2)')[0]
                try:
                    descripton = str(soup.select('table:nth-child(1) > tr > td > pre')[0].string)
                    first_ = str(soup.select('table:nth-child(2) > tr > td > b')[0].string)
                    first = str(soup.select('table:nth-child(2) > tr > td > font:nth-child(3) > i')[0].string)
                    second_ = str(soup.select('table:nth-child(3) > tr > td:nth-child(2) > b')[0].string)
                    second = str(soup.select('table:nth-child(3) > tr > td:nth-child(2) > font > i')[0].string)
                    
                    # for debug:
                    print(f'{first_} {first}')
                    print(f'{second_} {second}')
                    
                    data.append({'disc': descripton, 'first': first, 'second': second})
                    
                except:
                    print(file)
                    raise
                                
                df = pd.DataFrame(data, columns = col_names)
                
                if m_df.empty:
                    m_df = df
                else:
                    m_df = m_df.append(df, ignore_index=True)


m_df.to_csv('detailed_weather_reports.csv')

Date/hour of observation (*) 01/01/2000 at 00:00 UTC
Identification letters of the report FM 12âXI Ext. SYNOP. Land Station

In [26]:
m_df

,disc,first,second
0,200001010000 AAXX 01001 28698 41599 80707 1126...,01/01/2000 at 00:00 UTC,FM 12âXI Ext. SYNOP. Land Station