In [1]:
import os
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330 Shortcuts

Загрузка Omsk Ogimet

In [3]:
# load ogimet (1999-)
df_ogimet = pd.read_csv('Omsk_weather_all_years.csv', index_col='Datetime')
df_ogimet.index = pd.to_datetime(df_ogimet.index, dayfirst=True)

In [4]:
# Basic clean
def clean(m_df):
    # drop dublicates
    m_df = m_df.loc[~m_df.index.duplicated(keep='first')]
    
    # replace '-----' to nan
    m_df['T(C)'].replace('-----', np.nan, inplace=True)
    m_df['Td(C)'].replace('-----', np.nan, inplace=True)
    m_df['Tmax(C)'].replace('-----', np.nan, inplace=True)
    m_df['Tmin(C)'].replace('-----', np.nan, inplace=True)
    
    m_df['T(C)'] = m_df['T(C)'].astype(float)
    m_df['Td(C)'] = m_df['Td(C)'].astype(float)
    m_df['Tmax(C)'] = m_df['Tmax(C)'].astype(float)
    m_df['Tmin(C)'] = m_df['Tmin(C)'].astype(float)
    
    # Clear incorrect
    m_df['T(C)'].replace(-90.4, np.nan, inplace=True)
    m_df['T(C)'].replace(-48.8, np.nan, inplace=True)
    m_df['T(C)'].replace(-88.0, np.nan, inplace=True)
    m_df['T(C)'].replace(50.2, np.nan, inplace=True)
    
    # replace NaN to mean of 2 nb
    m_df['T(C)'] = m_df['T(C)'].where(m_df['T(C)'].values == 999, other=(m_df['T(C)'].fillna(method='ffill') + m_df['T(C)'].fillna(method='bfill'))/2)
    
    m_df = m_df.shift(periods=2)
    m_df = m_df.iloc[2:]
    
    return m_df

df_ogimet = clean(df_ogimet)
# m_df.to_csv('Omsk_weather_last_year_cl.csv')

c:\users\dima\appdata\local\programs\python\python36\lib\site-packages\pandas\core\series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# select columns
df_ogimet = df_ogimet[['T(C)', 'ddd', 'ffkmh', 'P0hPa', 'PTnd', 'Nt']]

In [17]:
# rename wind columns value to 4 quarter
def wind_to_4q(df_ogimet):
    df = df_ogimet.copy()
    df['ddd'].replace(['W','SW','WSW','WNW'],'West', inplace=True)
    df['ddd'].replace(['N','NW','NNW','NNE'],'North', inplace=True)
    df['ddd'].replace(['E','NE','ESE','ENE'],'East', inplace=True)
    df['ddd'].replace(['S','SE','SSW','SSE'],'South', inplace=True)
    df_ogimet['ddd_'] = df['ddd']
    return df_ogimet

df_ogimet = wind_to_4q(df_ogimet)

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df_ogimet = df_ogimet[(df_ogimet['ddd'] != 'None') & (df_ogimet['ddd'] != "`CB")]

Загрузка Омск RP5

In [ ]:
# Load RP5 (Omsk)
df_omsk = pd.read_csv('.csv', index_col='Datetime')

Загрузка Аэропорт RP5

In [ ]:
# Load Airport (RP5)
df_airport =

In [ ]:
# to one df

In [ ]:
# select winter periods

In [ ]:
# compare

Загрузка Калачинск

In [ ]:
# load kal
df_omsk = pd.read_csv('.csv', index_col='Datetime')

Загрузка Шербакуль

In [ ]:
# load sar
df_omsk = pd.read_csv('.csv', index_col='Datetime')

Загрузка Саргатское

In [ ]:
# load sher
df_omsk = pd.read_csv('.csv', index_col='Datetime')

In [ ]:
# # to one df

In [ ]:
# select winter periods

In [ ]:
#  compare

In [ ]:
# save a new df
df_merged.to_csv('df_merged')

In [21]:
df_ogimet

                     T(C)  ddd ffkmh   P0hPa  PTnd Nt   ddd_
Datetime
1999-09-15 00:00:00  13.7    E   7.2    ----  +1.2  7   East
1999-09-15 03:00:00  14.3   SE  14.4    ----  -1.3  5  South
1999-09-16 18:00:00  12.9  ESE  18.0  1002.3  +0.6  7   East
1999-09-16 21:00:00  14.0    E  21.6    ----  +0.8  4   East
1999-09-17 00:00:00  14.3   SE  18.0    ----  +0.2  0  South
...                   ...  ...   ...     ...   ... ..    ...
2021-04-30 18:00:00  14.3  WNW  10.8   998.8  +0.3  6   West
2021-04-30 21:00:00  11.6  WNW   7.2   999.4  +0.6  5   West
2021-05-01 00:00:00   8.8  WNW   7.2   999.8  +0.4  2   West
2021-05-01 03:00:00   6.8   NW  10.8  1001.1  +1.3  6  North
2021-05-01 06:00:00   1.9  NNW   7.2  1003.9  +2.8  8  North

[62849 rows x 7 columns]