In [5]:
import os
os.chdir("B:/Projects/CourseWork/coursework/HTMLCSV/Gismeteo/data")

In [4]:
#old code:
import requests
year = 1998
month = 1
url = 'https://www.gismeteo.ru/diary/4578/%d/%d/' % (year, month)
headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:45.0) Gecko/20100101 Firefox/45.0'
      }
r = requests.get(url, headers = headers)

#with open('test.html', 'w', encoding='utf8') as output_file:
#  output_file.write(r.text)

In [7]:
# download html
import requests
headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:45.0) Gecko/20100101 Firefox/45.0'
      }

for i in range(1997, 2019 + 1):
    for j in range(1, 12 + 1):
        url = f'https://www.gismeteo.ru/diary/4578/{i}/{j}/'
        r = requests.get(url, headers = headers)
        with open(f'{i}/{j}{i}.html', 'w', encoding='utf8') as output_file:
            output_file.write(r.text)

In [7]:
#parse single html file
from bs4 import BeautifulSoup

soup = BeautifulSoup(open("1997/41997.html", 'rb'), "lxml")
soup = soup.find(id='data_block')
soup = soup.findAll('table')[0]
soup = soup.findAll('tbody')[0]
soup = soup.findAll('tr')

In [8]:
for td in soup:
    # get days
    day = td.findAll("td")[0].text
    print(day)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [21]:
import ntpath

afternoon_phenomena = ''
afternoon_wind_dir = ''
evening_wind_dir = ''

day = soup[0].findAll("td")[0].text
afternoon_temp = soup[0].findAll("td")[1].text
afternoon_pressure = soup[0].findAll("td")[2].text
afternoon_overcast = os.path.splitext(ntpath.basename(soup[0].findAll("td")[3].findAll("img")[0]['src']))[0]
try:
    afternoon_phenomena = os.path.splitext(ntpath.basename(soup[0].findAll("td")[4].findAll("img")[0]['src']))[0]
except:
    pass
afternoon_wind = soup[0].findAll("td")[5].findAll("span")[0].text.strip()
try:
    afternoon_wind_dir = os.path.splitext(ntpath.basename(soup[0].findAll("td")[5].findAll("img")[0]['src']))[0]
except:
    pass
evening_phenomena = ''
evening_temp = soup[0].findAll("td")[6].text
evening_pressure = soup[0].findAll("td")[7].text
evening_overcast = os.path.splitext(ntpath.basename(soup[0].findAll("td")[8].findAll("img")[0]['src']))[0]
try:
    evening_phenomena = os.path.splitext(ntpath.basename(soup[0].findAll("td")[9].findAll("img")[0]['src']))[0]
except:
    pass
evening_wind = soup[0].findAll("td")[10].findAll("span")[0].text.strip()
try:
    evening_wind_dir = os.path.splitext(ntpath.basename(soup[0].findAll("td")[10].findAll("img")[0]['src']))[0]
except:
    pass

#daytime
# month + year
html = BeautifulSoup(open("1997/41997.html", 'rb'), "lxml")
monthyear = html.select('#page_title > h1')[0].string
print(f'date: {monthyear}')
print('')
print(f'day: {day}')
print(f'temp: {afternoon_temp}')
print(f'pressure: {afternoon_pressure}')
print(f'overcast: {afternoon_overcast}')
print(f'phenomena: {afternoon_phenomena}')
print(f'wind: {afternoon_wind}')
print(f'wind direction: {afternoon_wind_dir}')
print('')
#evening
print(f'temp: {evening_temp}')
print(f'pressure: {evening_pressure}')
print(f'overcast: {evening_overcast}')
print(f'phenomena: {evening_phenomena}')
print(f'wind: {evening_wind}')
print(f'wind direction: {evening_wind_dir}')
print('')
print('-----------------')

date:  Дневник погоды в Омске за Апрель 1997 г.

day: 1
temp: +3
pressure: 750
overcast: sunc
phenomena:
wind: ЮЗ 3м/с
wind direction: w5

temp: -1
pressure: 750
overcast: sun
phenomena:
wind: ЮЗ 3м/с
wind direction: w5

-----------------

In [6]:
# dull Пасмурно
# sunc Малооблачно
# sunc1 Облачно
# sun Ясно

# rain дождь
# snow снег
# storm гроза

In [50]:
import pandas as pd
pd.DataFrame()
col_names =  ['datetime','day', 'afternoon_temp', 'afternoon_pressure', 'afternoon_overcast', 'afternoon_phenomena', 'afternoon_wind', 'afternoon_wind_dir', 'evening_temp', 'evening_pressure', 'evening_overcast', 'evening_phenomena', 'evening_wind', 'evening_wind_dir']
data = [monthyear, day, afternoon_temp, afternoon_pressure, afternoon_overcast, afternoon_phenomena, afternoon_wind, afternoon_wind_dir, evening_temp, evening_pressure, evening_overcast, evening_phenomena, evening_wind, evening_wind_dir]

df = pd.DataFrame([data], columns = col_names)
df.head()

#newDF = newDF.append(my_df, ignore_index = True
#data = []
#for a, b, c in some_function_that_yields_data():
#   data.append([a, b, c])
#df = pd.DataFrame(data, columns=['A', 'B', 'C'])

,datetime,day,afternoon_temp,afternoon_pressure,afternoon_overcast,afternoon_phenomena,afternoon_wind,afternoon_wind_dir,evening_temp,evening_pressure,evening_overcast,evening_phenomena,evening_wind,evening_wind_dir
0,Дневник погоды в Омске за Апрель 1997 г.,30,+16,754,dull,,В 5м/с,w2,+12,753,sun,,В 5м/с,w2

In [11]:
type(soup)

bs4.element.ResultSet

In [51]:
df.head()

,datetime,day,afternoon_temp,afternoon_pressure,afternoon_overcast,afternoon_phenomena,afternoon_wind,afternoon_wind_dir,evening_temp,evening_pressure,evening_overcast,evening_phenomena,evening_wind,evening_wind_dir
0,Дневник погоды в Омске за Апрель 1997 г.,30,+16,754,dull,,В 5м/с,w2,+12,753,sun,,В 5м/с,w2

In [84]:
# all month
import pandas as pd
import datetime
import ntpath

m_df = pd.DataFrame()

for i in range(1997, 2019 + 1):
    for j in range(1, 12 + 1):
        file = ''
        try:
            file = open(f'{i}/{j}{i}.html', 'rb')
        except:
            continue
        
        soup = BeautifulSoup(file, "lxml")
        soup = soup.find(id='data_block')
        soup = soup.findAll('table')[0]
        soup = soup.findAll('tbody')[0]
        soup = soup.findAll('tr')
        
        
        #
        
        for td in soup:
            # get days
            day = td.findAll("td")[0].text # correct
            at = afternoon_temp = td.findAll("td")[1].text # correct
            afternoon_phenomena = ''
            afternoon_overcast = ''
            afternoon_wind = ''
            afternoon_wind_dir = ''
            
            evening_phenomena = ''
            evening_overcast = ''
            evening_wind = ''
            evening_wind_dir = ''

            day = td.findAll("td")[0].text
            afternoon_temp = td.findAll("td")[1].text
            afternoon_pressure = td.findAll("td")[2].text
            try:
                afternoon_overcast = os.path.splitext(ntpath.basename(td.findAll("td")[3].findAll("img")[0]['src']))[0]
            except:
                pass
            try:
                afternoon_phenomena = os.path.splitext(ntpath.basename(td.findAll("td")[4].findAll("img")[0]['src']))[0]
            except:
                pass
            try:
                afternoon_wind = td.findAll("td")[5].findAll("span")[0].text.strip()
            except:
                pass
            try:
                afternoon_wind_dir = os.path.splitext(ntpath.basename(td.findAll("td")[5].findAll("img")[0]['src']))[0]
            except:
                pass
            evening_temp = td.findAll("td")[6].text
            evening_pressure = td.findAll("td")[7].text
            try:
                evening_overcast = os.path.splitext(ntpath.basename(td.findAll("td")[8].findAll("img")[0]['src']))[0]
            except:
                pass
            try:
                evening_phenomena = os.path.splitext(ntpath.basename(td.findAll("td")[9].findAll("img")[0]['src']))[0]
            except:
                pass
            try:
                evening_wind = td.findAll("td")[10].findAll("span")[0].text.strip()
            except:
                pass
            try:
                evening_wind_dir = os.path.splitext(ntpath.basename(td.findAll("td")[10].findAll("img")[0]['src']))[0]
            except:
                pass

            #
            pd.DataFrame()

            # datetime (from file name) MANUAL
            dt = datetime.date(i, j, int(day))

            col_names =  ['dt', 'afternoon_temp', 'afternoon_pressure', 'afternoon_overcast', 'afternoon_phenomena', 'afternoon_wind', 'afternoon_wind_dir', 'evening_temp', 'evening_pressure', 'evening_overcast', 'evening_phenomena', 'evening_wind', 'evening_wind_dir']
            data = [dt, afternoon_temp, afternoon_pressure, afternoon_overcast, afternoon_phenomena, afternoon_wind, afternoon_wind_dir, evening_temp, evening_pressure, evening_overcast, evening_phenomena, evening_wind, evening_wind_dir]
            df = pd.DataFrame([data], columns = col_names)
            m_df = m_df.append(df)
        
m_df.to_csv('weather.csv')

In [82]:
print(m_df.iloc[[2150]])

           dt                                  datetime1 day afternoon_temp  \
0  2003-03-31   Дневник погоды в Омске за Апрель 1997 г.  31              0

  afternoon_pressure afternoon_overcast afternoon_phenomena afternoon_wind  \
0                751                sun                             З 4м/с

  afternoon_wind_dir evening_temp evening_pressure evening_overcast  \
0                 w6           -3              754              sun

  evening_phenomena evening_wind evening_wind_dir
0                         З 4м/с               w6

In [83]:
df.head()

,dt,datetime1,day,afternoon_temp,afternoon_pressure,afternoon_overcast,afternoon_phenomena,afternoon_wind,afternoon_wind_dir,evening_temp,evening_pressure,evening_overcast,evening_phenomena,evening_wind,evening_wind_dir
0,2019-11-26,Дневник погоды в Омске за Апрель 1997 г.,26,-10,761,sunc,,СВ 1м/с,w1,,,still,still,,still

In [85]:
m_df.to_csv('weather.csv')

In [87]:
m_df.head()

,dt,afternoon_temp,afternoon_pressure,afternoon_overcast,afternoon_phenomena,afternoon_wind,afternoon_wind_dir,evening_temp,evening_pressure,evening_overcast,evening_phenomena,evening_wind,evening_wind_dir
0,1997-04-01,+3,750,sunc,,ЮЗ 3м/с,w5,-1,750,sun,,ЮЗ 3м/с,w5
0,1997-04-02,+2,748,dull,,ЮЗ 4м/с,w5,0,750,sun,,ЮЗ 4м/с,w5
0,1997-04-03,+3,746,dull,,ЮЗ 4м/с,w5,+3,744,suncl,,ЮЗ 4м/с,w5
0,1997-04-04,+4,752,dull,,З 7м/с,w6,+3,759,sun,,З 7м/с,w6
0,1997-04-05,+9,768,sun,,ЮЗ 2м/с,w5,+3,768,sun,,ЮЗ 2м/с,w5

In [2]:
# analysis data
import os
os.chdir("B:/Projects/CourseWork/coursework/HTMLCSV/Gismeteo/data")
#load
import pandas as pd
df = pd.read_csv('weather.csv')
df = df.drop(df.columns[0], axis=1)
df = df.rename(columns={'dt': 'date'})
df.head()

,date,afternoon_temp,afternoon_pressure,afternoon_overcast,afternoon_phenomena,afternoon_wind,afternoon_wind_dir,evening_temp,evening_pressure,evening_overcast,evening_phenomena,evening_wind,evening_wind_dir
0,1997-04-01,3.0,750,sunc,NaN,ЮЗ 3м/с,w5,-1.0,750.0,sun,NaN,ЮЗ 3м/с,w5
1,1997-04-02,2.0,748,dull,NaN,ЮЗ 4м/с,w5,0.0,750.0,sun,NaN,ЮЗ 4м/с,w5
2,1997-04-03,3.0,746,dull,NaN,ЮЗ 4м/с,w5,3.0,744.0,suncl,NaN,ЮЗ 4м/с,w5
3,1997-04-04,4.0,752,dull,NaN,З 7м/с,w6,3.0,759.0,sun,NaN,З 7м/с,w6
4,1997-04-05,9.0,768,sun,NaN,ЮЗ 2м/с,w5,3.0,768.0,sun,NaN,ЮЗ 2м/с,w5

In [279]:
# find

filtered = df[df.evening_temp < -27]
filtered = filtered[['date', 'evening_temp']]
filtered.info()
#filtered.head()
#filtered.iloc[0:100]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 235 to 7929
Data columns (total 2 columns):
date            174 non-null object
evening_temp    174 non-null float64
dtypes: float64(1), object(1)
memory usage: 4.1+ KB

In [215]:
#def get_td(first_date_str, second_date_str):
#    tdelta = datetime.datetime.strptime(first_date_str, "%Y-%m-%d") - datetime.datetime.strptime(second_date_str.date, "%Y-%m-%d")
#    return tdelta.days

In [280]:
# https://stackoverflow.com/questions/37063038/how-to-compare-multiple-rows-from-same-column-in-dataframe
#cont = filtered
#cont['cont'] = (cont['afternoon_temp'].shift(1) <= cont['afternoon_temp'])
diff = filtered
diff['date'] = pd.to_datetime(diff['date'], format="%Y-%m-%d")

#cont1['cont'] = get_td(cont1['date'], cont1['date'].shift(1))
#for index, row in diff.iterrows():
#    diff['diff'] = get_td(row.date, row.shift(1).date)

In [281]:
diff['diff'] = (diff.date - diff.shift(1).date)
diff = diff[diff['diff'] == datetime.timedelta(days=1)]

In [297]:
diff['inc4days'] = ((diff.date - diff.shift(1).date == datetime.timedelta(days=1)) & (diff.date - diff.shift(2).date == datetime.timedelta(days=2)) & (diff.date - diff.shift(3).date == datetime.timedelta(days=3)))

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [298]:
diff

           date  evening_temp   diff  inc3days
276  1998-01-08         -30.0 1 days     False
279  1998-01-11         -28.0 1 days     False
282  1998-01-14         -28.0 1 days     False
287  1998-01-19         -28.0 1 days     False
592  1998-11-26         -34.0 1 days     False
593  1998-11-27         -34.0 1 days     False
594  1998-11-28         -32.0 1 days     False
630  1999-01-03         -31.0 1 days     False
653  1999-01-26         -30.0 1 days     False
985  1999-12-31         -30.0 1 days     False
988  2000-01-03         -33.0 1 days     False
989  2000-01-04         -28.0 1 days     False
1318 2000-12-05         -34.0 1 days     False
1319 2000-12-06         -30.0 1 days     False
1349 2001-01-05         -35.0 1 days     False
1350 2001-01-06         -33.0 1 days     False
1355 2001-01-11         -33.0 1 days     False
1378 2001-02-03         -34.0 1 days     False
1379 2001-02-04         -31.0 1 days     False
1380 2001-02-05         -28.0 1 days     False
1381 2001-02-06         -32.0 1 days      True
2042 2002-12-10         -28.0 1 days     False
2062 2002-12-30         -30.0 1 days     False
2810 2005-01-23         -31.0 1 days     False
2811 2005-01-24         -28.0 1 days     False
3154 2006-01-02         -28.0 1 days     False
3161 2006-01-09         -32.0 1 days     False
3162 2006-01-10         -32.0 1 days     False
3163 2006-01-11         -35.0 1 days     False
3172 2006-01-20         -37.0 1 days     False
...         ...           ...    ...       ...
5357 2012-01-18         -29.0 1 days     False
5370 2012-01-31         -32.0 1 days     False
5371 2012-02-01         -35.0 1 days     False
5685 2012-12-13         -35.0 1 days     False
5686 2012-12-14         -38.0 1 days     False
5687 2012-12-15         -36.0 1 days     False
5688 2012-12-16         -33.0 1 days      True
5689 2012-12-17         -29.0 1 days      True
5690 2012-12-18         -31.0 1 days      True
5694 2012-12-22         -30.0 1 days     False
5697 2012-12-25         -30.0 1 days     False
6098 2014-01-30         -29.0 1 days     False
6103 2014-02-04         -28.0 1 days     False
6457 2015-01-24         -30.0 1 days     False
6806 2016-01-08         -29.0 1 days     False
6817 2016-01-19         -29.0 1 days     False
6818 2016-01-20         -28.0 1 days     False
7122 2016-11-19         -29.0 1 days     False
7155 2016-12-22         -31.0 1 days     False
7156 2016-12-23         -33.0 1 days     False
7549 2018-01-22         -31.0 1 days     False
7550 2018-01-23         -31.0 1 days     False
7551 2018-01-24         -29.0 1 days     False
7552 2018-01-25         -29.0 1 days      True
7553 2018-01-26         -28.0 1 days      True
7884 2018-12-25         -31.0 1 days     False
7926 2019-02-05         -29.0 1 days     False
7927 2019-02-06         -31.0 1 days     False
7928 2019-02-07         -34.0 1 days     False
7929 2019-02-08         -29.0 1 days      True

[91 rows x 4 columns]

In [316]:
# df['difference'] = df.groupby('player')['date'].diff().fillna(0)
#filtered.evening_temp.rolling(7).mean()
filtered['dfrnt'] = filtered.evening_temp.diff(7)

In [322]:
filtered['new'] = filtered['evening_temp'].apply(lambda x: (
    x < -30))
filtered

KeyboardInterrupt:

In [35]:
df.loc[(df['evening_temp'] <= -27) & (df.shift(1)['evening_temp'] <= -27) & (df.shift(2)['evening_temp'] <= -27) & (df.shift(3)['evening_temp'] <= -27 ), 'lower'] = True 
df.loc[(pd.isna(df.lower)), 'lower'] = False

In [1]:
new = df.loc[df.evening_temp <= -27]
new[['date','evening_temp', 'lower']]

NameError: name 'df' is not defined

In [42]:
# try rolling func
#df['new_value'] = (df['evening_temp'] - df['evening_temp'].rolling(5).mean()) / df['evening_temp'].rolling(5).std()
#df['new_value'] = df.rolling(window = 5)['evening_temp'].apply(lambda x: x[1])
def myf(x):
    import numpy as np
    if (np.average(x) > 0):
        return 1
    else:
        return 0

df['new_value'] = df.rolling(window = 5)['evening_temp'].apply(myf)

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:11: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # This is added back by InteractiveShellApp.init_path()

In [52]:
def f1(data=None):
    return 0

subRates = df['evening_temp'].rolling(window=10).agg(f1)

In [55]:
def f1(data=None):
    return 0
df.pipe(f1)

In [ ]:
# https://stackoverflow.com/questions/55990574/pandas-rolling-apply-function-to-entire-window-dataframe

def rolling_pipe(dataframe, window, fctn):
    return pd.Series([dataframe.iloc[i-window: i].pipe(fctn) 
                      if i >= window else None 
                      for i in range(1, len(dataframe)+1)],
                     index = dataframe.index) 

df.pipe(rolling_pipe, 3, lambda x: x.shape)